table {
  border: 1px solid lightgray;
  table-layout: fixed;
  width: 1400px;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

th:last-child {
  border-bottom: 1px solid lightgray;
  border-right: none;
  padding: 2px 4px;
}

td {
  border: 1px solid lightgray;
  margin: 0px;
  padding: 10px 15px;
}

td:first-child {
  text-align:left;
  max-width: 700px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

p.page-selector {
  margin-bottom: 1.5em;
}

input.page-selector {
  width: 3em;
}

/* Table header th elements. */

th#title {
  width: 550px;
}

th#authorString {
  width: 200px;
}

th#isbn {
  width: 150px;
}

th#publisher {
  width: 250px;
}
