table {
  border: 1px solid lightgray;
  width: 100%;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

th:last-child {
  border-bottom: 1px solid lightgray;
  border-right: none;
  padding: 2px 4px;
}

td {
  border: 1px solid lightgray;
  margin: 0px;
  padding: 5px 10px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
